* {
  box-sizing: border-box;
}

body {
  background: #7a0025 !important;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1d1d26;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

::placeholder {
  color: #7a0025;
}
:-ms-input-placeholder {
  color: #7a0025;
}
::-ms-input-placeholder {
  color: #7a0025;
}

.search {
  background-color: #1d1d26;
  border: 2px solid #7a0025;
  color: white;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: none;
}

.search::-webkit-search-cancel-button {
  position: relative;
  right: -10px;

  background: black;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
}

.movie {
  background-color: #1d1d26;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.movie-info h3 {
  margin: 0;
}

/*
.movie-over {
  background-color: rgba(0, 0, 0, 0.85);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateX(0%);
}
*/
.tag {
  background-color: #4e0017;
  border-radius: 5px;
  padding: 0.5rem;
}

.tag.green {
  color: rgb(6, 214, 6);
}
.tag.orange {
  color: rgb(255, 208, 0);
}
.tag.red {
  color: red;
}

.movie-b {
  width: 100%;
  background-color: #1d1d26;
  color: white;
  border: none;
  transition: font-size 0.1s ease-in-out;
}

.movie-b:hover {
  background-color: #373747;
  font-size: 20px;
}

.pbox {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.bbox {
  position: right;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #1d1d26;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #17171f;
  overflow: auto;
  display: block;
}

.pimg {
  width: 20%;
  height: fit-content;
}

.pinfo {
  color: white;
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  flex-wrap: wrap;
}

.ptitle {
  color: #b10136;
}

.pover {
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-overflow: ellipsis;
  width: 70%;
  height: 100%;
}

.pextra {
  display: inline-block;
  color: rgb(102, 102, 102);
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
